<h1> Details of <%= @bug.title %> </h1>
<hr>

<p>
  <h3>Title: </h3>
  <%= @bug.title %>
</p>

<p>
  <h3>Description: </h3>
  <%= @bug.description %>
</p>

<p>
  <h3>Status: </h3>
  <%= @bug.status %>
</p>

<p>
  <h3>Priority: </h3>
  <%= @bug.priority %>
</p>

